@charset "utf-8";

.title{
    padding:0px 16px;
    margin-top:20px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 14px;
}
.title.big{
    font-size: 20px;
}

.guide{
    /* width:344px; */
    border:1px solid #dcdfe7;
}