@charset "utf-8";
  /* calendar */
.calendar-wrap {
    position: relative;
    height: calc(100vh - 220px);
    background-color:#ffffff;
    border-top: 3px solid #4d84fe;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.calendar-wrap .fc-view-container{
  padding:0px 10px;
  box-sizing: border-box;
}

#calendar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
}

#calendar-container .fc-header-toolbar {
  /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom:18px;
}

#calendar-container .fc-toolbar h2 {
  font-size: 18px;
}

/* 이전,이후,오늘 */
.fc-prev-button,
.fc-next-button,
.fc-today-button{
  font-size: 12px;
  color:#292944;
  border-color:#cccccc;
  background-color:#ffffff;
}

/* 이전,이후,오늘 */
.fc-prev-button:hover,
.fc-next-button:hover,
.fc-today-button:hover {
  color: #292944;
  border-color: #E5E5E5;
  background-color: #E5E5E5;
}

.fc-today-button.btn-primary.disabled,
.fc-today-button.btn-primary:disabled{
  color: #ffffff;
  border-color: #6b6b80;
  background-color: #6b6b80;
}

/* 월,주,일 */
.fc-bgeventGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button {
  color:#a2a3a5;
  border-color:#3e3e4c;
  background-color:#3e3e4c;
  font-size: 14px;
}
/* 월,주,일 active */
.fc-bgeventGridMonth-button:not(:disabled):not(.disabled).active,
.fc-timeGridWeek-button:not(:disabled):not(.disabled).active,
.fc-timeGridDay-button:not(:disabled):not(.disabled).active {
  color:#ffffff;
  border-color:#6b6b80;
  background-color:#6b6b80;
}
/* 월,주,일 hover  */
.fc-bgeventGridMonth-button:hover,
.fc-timeGridWeek-button:hover,
.fc-timeGridDay-button:hover {
  color: #ffffff;
  border-color: #6b6b80;
  background-color: #6b6b80;
}

.fc-bgevent-header{
  font-size: 12px;
  color: #7b7c8d;
}

.fc-ltr .fc-bgeventGrid-view .fc-bgevent-top .fc-bgevent-number{
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}

/* today mark */
.fc-ltr .fc-bgeventGrid-view .fc-bgevent-top.fc-today .fc-bgevent-number{
  border-radius : 50%;
  background-color : #3e3e4c;
  color: #ffffff;
}


/* 근무제 시작일, 종료일 표시 세모 */
.fc-bgevent{
  position: relative;
  opacity: 0.5 !important;
}
.fc-bgevent>.fc-border {
  position: absolute;
  top: 0;
  width:100%;
  height:5px;
}
.fc-bgevent>.fc-border.start {
  left: 10px;
  width: calc(100% - 10px);

}
.fc-bgevent>.fc-border.end {
  left: 0px;
  width: calc(100% - 10px);
}


/* 탄력근무 */
.fc-bgevent.ELAS {
  background-color: #ffc421;
}
/* .fc-event-line.ELAS {
  border-right: 1px solid #ffa200;
} */
.fc-bgevent>.fc-border.ELAS {
  background-color: #ff8800;
}


/* 완전선택근무 */
.fc-bgevent.SELE_F {
  background-color: #4d84fe;
}
/* .fc-event-line.SELE_F {
  border-right: 1px solid #044ef1;
} */
.fc-bgevent>.fc-border.SELE_F {
  background-color: #0321b8;
}


/* 부분선택근무 */
.fc-bgevent.SELE_C {
  background-color: #85d1f2;
}
/* .fc-event-line.SELE_C {
  border-right: 1px solid #2ab1ec;
} */
.fc-bgevent>.fc-border.SELE_C {
  background-color: #087ebb;
}


/* 시차출퇴근 */
.fc-bgevent.DIFF {
  background-color: #1fc486;
}
/* .fc-event-line.DIFF {
  border-right: 1px solid #039f65;
} */
.fc-bgevent>.fc-border.DIFF {
  background-color:#096744;
}


/* 자율출퇴근 */
.fc-bgevent.AUTO {
  background-color: #6b6b80;
}
/* .fc-event-line.AUTO {
  border-right: 1px solid #47435e;
} */
.fc-bgevent>.fc-border.AUTO {
  background-color: #080809;
}



/* button */
#calendar-container .btn-default{
  font-size: 14px;
  line-height: 1;
}

/* popover */
#calendar-container .popover-inner-wrap{
  padding:5px;
  text-align: center;
}
#calendar-container .popover-inner-wrap .msg {
  margin-bottom:10px;
  font-size: 14px;
  line-height: 1.07;
  letter-spacing: -0.7px;
  color: #292944;
}
#calendar-container .popover-inner-wrap .btn-default {
  font-size: 14px;
  line-height: 1;
}