@charset "utf-8";

/* S : bootstrap custom */
/*list style none*/
ul, ol, li{
  list-style: none;
}
/* E : bootstrap custom */


/* button style */
.btn-flat{
  border-radius:0;
}
.btn-apply {
  font-size: 14px;
  color: #fff;
  background-color: #32c9b6;
  border-color: #0bb39e;
}

.btn-apply:hover {
  color: #fff;
  background-color: #2aa89a;
  border-color: #26978a;
}

.btn-outline{
  color: #c4c4c4;
  border-color: #cfcfcf;
}

.btn-outline:hover {
  color: #c4c4c4;
}

.btn-default {
  color: #ffffff;
  background-color: #4d84fe;
  border-color: #3472f8;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #4f7bd8;
  border-color: #325fc0;
}

.btn-approval{
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
}
.btn-approval.cancel {
  color: #f75353;
}
.btn-approval.cancel:hover {
  color:#ffffff;
  background-color: #f75353;
}
.btn-approval.sign{
  color: #4d84fe;
}

.btn-approval.sign:hover {
  color:#ffffff;
  background-color: #4d84fe;
}





.point-color{color:#DC3545;}
.sub-title{font-size: 20px;}
.sub-title .caution{display:inline-block; margin-left: 14px; font-size: 16px;}
.btn-wrap select{padding-top:2px;}

/* 필수 */
.require{position:relative; color:#DC3545;}
.require::after{content:'*'; position:absolute; top:0px; left:-10px;display:inline-block;}

/* application-form */
.inner-wrap .application-form .modal-header button{display:none;}
.inner-wrap .application-form .modal-body .title{margin-top:20px;}
.inner-wrap .application-form .modal-footer button.modal-close{display:none;}

/* application-form inner modal */
.application-form .title{margin-top:10px; margin-bottom:40px; font-size: 30px;} 
.application-form .sub-title{margin-top:40px; margin-bottom:20px; font-size: 20px;} 
.application-form .sub-desc{font-size: 14px;}
.application-form .guide{font-size: 14px; color:#007BFF;}
.application-form .col-form-label{word-break: keep-all;}
.application-form .btn-wrap{padding-top: 40px;}

/* login Page */
.login {display: -ms-flexbox; display: flex; height:100%;-ms-flex-align: center;align-items: center;padding-top: 40px;padding-bottom: 40px;background-color: #f5f5f5;}
.form-login {width: 100%;max-width: 330px;padding: 15px;margin: auto;}
.form-login .logo{width:auto; height:60px;}
.form-login .checkbox {font-weight: 400}
.form-login .checkbox label{float:left;}
.form-login .checkbox .find-pw{float:right;}
.form-login .checkbox::after {content:''; clear: both; display: table;}
.form-login .form-control {position: relative;box-sizing: border-box;height: auto;padding: 10px;font-size: 16px;}
.form-login .form-control:focus {z-index: 2;}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-login .find-pw{display:inline-block; margin-left:auto;}


/* main */
.work-info-wrap{min-height:298px; 
  padding:14px;/* margin-bottom: 10px; */text-align: left;background-color:#1f3b78;box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.work-info-wrap .main-title,
.work-info-wrap .main-desc{font-size: 14px;font-weight: bold;font-style: normal;line-height: 1.5;letter-spacing: -0.6px;color: #ffffff;
}

.work-info-wrap .sub-wrap{margin-top: 8px;}
.work-info-wrap .sub-wrap li{margin-top:8px;}
.work-info-wrap .sub-wrap li:first-child {margin-top: 0px;}

.work-info-wrap .sub-title{font-size: 12px;font-weight: normal;line-height: 1.5;letter-spacing: -0.5px;color: #c6d2f2;}
.work-info-wrap .sub-desc {min-height:18px; font-size: 12px;font-weight: bold;line-height: 1.5;letter-spacing: -0.5px;color: #ffffff;
box-sizing: border-box; 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box;
}

.work-info-wrap .btn-wrap{margin-top:13px;}

/*  */
.white-box-wrap {height:calc(100vh - 542px); padding: 14px;/* margin-bottom: 10px; */background-color: #ffffff;
  overflow-y: auto;
  -ms-overflow-y: auto;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);}
.white-box-wrap.full-height{height:calc(100vh - 220px);}
.white-box-wrap.collapse-height{height:calc(100vh - 453px)}
.white-box-wrap .big-title {font-size: 14px;font-weight: bold;line-height: 1.5;letter-spacing: -0.6px;color: #292944;}
.white-box-wrap .main-title {font-size: 12px;line-height: 1.5;letter-spacing: -0.5px;color: #6b6b80;}
.white-box-wrap .main-desc {font-size: 14px;font-weight: bold;line-height: 1.5;letter-spacing: -0.6px;color: #292944;}
.white-box-wrap .sub-desc {margin-top: 6px;font-size: 12px;line-height: 1.5;letter-spacing: -0.5px;color: #6b6b80;}
.white-box-wrap .time-list{margin-top: 6px;}
.white-box-wrap .time-list li{margin-top: 0px;line-height: 1.5;}
.white-box-wrap .time-block-list{margin-top:10px;}
.white-box-wrap .time-block-list li {margin-top: 6px;line-height: 1.5;}
.white-box-wrap .time-block-list li:first-child {margin-top: 0px;}

.white-box-wrap .time-list .title{
  margin-right: 4px;
  font-size: 14px;
  letter-spacing: -0.6px;
  color: #6b6b80;
}
.white-box-wrap .time-block-list .title {
  margin-right: 4px;
  font-size: 12px;
  letter-spacing: -0.6px;
  color: #6b6b80;
}
.white-box-wrap .time-list .desc,
.white-box-wrap .time-block-list .desc {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: #292944;
}
.white-box-wrap .sub-wrap {
  margin-top:10px;
  margin-right:-2px;
  margin-left:-2px;

  padding-right:2px;
  padding-left:2px;
  border-top: 1px solid #e2e5ed;
}

.white-box-wrap hr.bar {
  border-top: 1px solid #e2e5ed;
  margin-top: 10px;
  margin-bottom: 10px;
}

.white-box-wrap .legend-wrap::after{
  content:'';
  display:table;
  width: 100%;
  clear:both;
}
.white-box-wrap .legend-wrap li{
  float: left;
  display: inline-block;
  margin-left:12px;
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: normal;
  color: #6b6b80;
}
.white-box-wrap .legend-wrap li:first-child {
  margin-left:0px;
}
.white-box-wrap .legend-wrap li::before{ 
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-top: -2px;
  margin-right: 4px;
  margin-left: 0px;
}
.white-box-wrap .legend-wrap li.work-time::before{background-color:#dcdfe7;}
.white-box-wrap .legend-wrap li.core-time::before {background-color:#7b5df6;}


.white-box-wrap .btn-wrap {
  margin-top: 30px;
}

.white-box-wrap .btn-apply {
  font-size: 14px;
}

.work-plan-wrap .main-wrap{
  text-align: left;
  /* padding-bottom: 8px; */
}
.work-plan-wrap .main-wrap>li{
  margin-top: 6px;
}
.work-plan-wrap .main-wrap>li:first-child {
  margin-top: 0px;
}
.work-plan-wrap .inner-wrap {
  margin-top:14px;
}

.work-plan-wrap .sub-big-title {
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.6px;
  text-align: left;
  color: #3e3e4c;
}

.work-plan-wrap .sub-list-wrap {
  padding: 12px;
}
.work-plan-wrap .sub-list {
  /* display: table; */
  /* border-collapse: collapse; */
  width: 100%;
  padding: 12px;
}
.work-plan-wrap .sub-list>li {
  /* display: table-row; */
  /* width: 100%; */
  padding: 10px 0px;
  border-top: 1px solid #e2e5ed;
  font-size:0px;
}

.work-plan-wrap .sub-list>li:first-child{
  padding-top: 0px;
  border-top: 0px;
}

.work-plan-wrap .sub-list>li span{
  display:inline-block;
}

.work-plan-wrap .sub-list .sub-title {
  width: 40%;
  font-size: 14px;
  line-height: 1.55;
  letter-spacing: -0.55px;
  color: #6b6b80;
  /* border: 1px solid red; */
}

.work-plan-wrap .sub-list>li>span.sub-title {
  width: calc(40% + 25px);
}


.work-plan-wrap .sub-list .sub-title i.fas{
  display:inline-block;
  margin-right: 8px;
  color:#4d84fe;
}

.work-plan-wrap .sub-list .sub-desc {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.6px;
    text-align: left;
    color: #292944;
}

.work-plan-wrap .sub-desc-list{
  padding-left: 30px;
}

.work-plan-wrap .sub-desc-list li:before{
  content : '·';
  display: inline-block;
  font-size:14px;
  /* border:1px solid blue; */
}

.work-plan-wrap .sub-desc-list li .sub-title{
  /* margin-left: -4px; */
}

.time-input-form{
  /* padding: 6px 0 0; */
}

.time-input-form .form-group {
  margin-top: 6px;
  margin-bottom: 0px;
}

.time-input-form label{
    padding: 0 0 4px;
    font-size: 14px;
    letter-spacing: -0.6px;
    text-align: left;
    color: #6b6b80;
}

.time-input-form input,
.time-input-form select,
.time-input-form textarea {
  padding:.375rem;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.6px;
}

.time-input-form input,
.time-input-form select,
.time-input-form textarea {
  border-radius: 0;
}


/*  */
.select-work-list .list-group-item{
  position: relative;
}
.select-work-list .list-group-item .tag{
  position: absolute;
  top: 10px;
  right: 10px;
  display:inline-block;
  min-width: 38px;
  padding: 1px 8px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* 탄력근무 */
.select-work-list .list-group-item .tag.ELAS {
  background-color:#ffc421;
}
/* 완전선택근무 */
.select-work-list .list-group-item .tag.SELE_F {
  background-color: #4d84fe;
}
/* 부분선택근무 */
.select-work-list .list-group-item .tag.SELE_C {
  background-color: #85d1f2;
}
/* 시차출퇴근 */
.select-work-list .list-group-item .tag.DIFF {
  background-color: #1fc486;
}
/* 자율출퇴근 */
.select-work-list .list-group-item .tag.AUTO {
  background-color: #6b6b80;
}
.select-work-list .list-group-item:first-child {
  border-top-left-radius:0;
  border-top-right-radius:0;
}
.select-work-list .list-group-item:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.select-work-list .list-group-item.active{
  background-color:#E5E5E5;
  border: 1px solid rgba(0, 0, 0, .125);
}
/* .select-work-list .list-group-item.active .title,
.select-work-list .list-group-item.active .desc{
  color:#ffffff;
}
.select-work-list .list-group-item.active .bar{
  border-left: 0.5px solid #ffffff;
  border-right: 0.5px solid #ffffff;
} */

.select-work-list .list-group-item .title{
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #3e3e4c;
}

.select-work-list .list-group-item .desc {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #3e3e4c;
}

.select-work-list .list-group-item .bar{
  height: 12px;
  border-left: 0.5px solid #3e3e4c;
  border-right: 0.5px solid #3e3e4c;
  margin-right: 5px;
  margin-left: 5px;
}

  /* calendar */
.calendar-wrap {
    position: relative;
    height: calc(100vh - 228px);
    background-color:#ffffff;
    border-top: 3px solid #4d84fe;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

/* 결재 페이지 */
.page-title{
    margin-top: 14px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: #292944;
}
.notice-card{
  padding: 16px 20px;
  margin-top: 10px;
  background-color:#ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);

}
.notice-card .notice-mark{
  float:left;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.notice-mark.type01{
  background-color:#4d84fe;
}
.notice-mark.type02 {
  background-color: #47435e;
}
.notice-mark.type03 {
  background-color: #f75353;
}
.notice-mark.type04 {
  background-color: #85d1f2;
}
.notice-mark.type05 {
  background-color: #e6af62;
}
.notice-mark.type06 {
  background-color: #7b5df6;
}
.notice-mark.type07 {
  background-color: #1fc486;
}
.notice-mark.type08 {
  background-color: #ffc421;
}
.notice-mark.type09 {
  background-color: #0b1baa;
}
.notice-mark.type10 {
  background-color: #f26628;
}
.notice-mark.type11 {
  background-color: #00c213;
}
.notice-mark.type12 {
  background-color: #d82bb0;
}

.notice-card .inner-wrap{
  float:left;
  line-height: 1;
}

.notice-card .title{
  font-size: 14px;
  /* line-height: 1.43; */
  line-height: 1;
  color: #292944;
}
.notice-card .name{
  font-size: 12px;
  line-height: 36px;
  color: #292944;
}

.notice-card .desc{
  margin-top:4px;
}
.notice-card .desc span{
  font-size: 12px;
  /* line-height: 1.5; */
  line-height: 1;
  color: #292944;
}
.notice-card .desc span.sub-title{
  color: #6b6b80;
}

.notice-card .desc span.sub-desc::before{
  content:'';
  display: inline-block;
  height: 12px; 
  width: 1px;
  padding-left: 5px;
  border-left: 1px solid #d0d7e4;
  margin-left: 4px;
  margin-bottom: -2px;
}


/* modal style */
.modal-app-wrap {padding: 0px 10px 30px 10px; margin-top:-2px;}
/* .modal-app-wrap>.form-row{margin-top:-4px;} */
.modal-app-wrap .form-group{margin-top:4px; margin-bottom: 0px; 
  /* border:1px solid red; */
}
/* .modal-app-wrap .form-control{height:calc(1.5em + .75rem - 2px);} */
.modal-app-wrap .inner-wrap{margin-top:14px;}
.modal-app-wrap .inner-wrap:first-child{margin-top:0px;}
.modal-app-wrap .radio-toggle-wrap{display:none;}
.modal-app-wrap .big-title{font-size: 14px;font-weight: bold;line-height: 1.43;letter-spacing: -0.7px;color: #292944;}
.modal-app-wrap .title{font-size: 12px;line-height: 1.5;letter-spacing: -0.6px;color: #6b6b80;}
.modal-app-wrap label{margin-bottom:6px; font-size: 12px;line-height: 1.5;letter-spacing: -0.6px;color: #6b6b80;}
.modal-app-wrap .form-control{height:inherit; border-radius: 0px;}

.modal-app-wrap select:required:invalid{
  color:#cfcfcf;
}

.modal-app-wrap select.form-control{
  padding: 6px 8px;
}

.modal-app-wrap select.form-control option{
  color: #495057;
}

.modal-app-wrap .form-control::-webkit-input-placeholder {
  color: #cfcfcf;
}
/* WebKit, Blink, Edge */
.modal-app-wrap .form-control:-moz-placeholder {
  color: #cfcfcf;
}

/* Mozilla Firefox 4 to 18 */
.modal-app-wrap .form-control::-moz-placeholder {
  color: #cfcfcf;
}

/* Mozilla Firefox 19+ */
.modal-app-wrap .form-control:-ms-input-placeholder {
  color: #cfcfcf;
}

/* Internet Explorer 10-11 */
.modal-app-wrap .form-control::-ms-input-placeholder {
  color: #cfcfcf;
}

/* Microsoft Edge */
.modal-app-wrap .custom-radio label{font-size: 14px;line-height: 1.5;letter-spacing: 0px;color: #292944;}
.modal-app-wrap .desc{font-size: 14px;line-height: 1.43;color: #292944;}
.modal-app-wrap .sub-desc {margin-bottom:8px; font-size: 12px;line-height: 1.5;letter-spacing: -0.6px;color: #6b6b80;}
.modal-app-wrap .guide {font-size: 12px;line-height: 1.5;letter-spacing: -0.36px;color: #4d84fe;}
.modal-app-wrap hr.bar{margin-top:20px; margin-bottom:-10px;}
.modal-app-wrap .time-wrap{margin-right: 16px; font-size:0px;}
.modal-app-wrap .date-wrap{font-size:0px;}
.modal-app-wrap .date-wrap span{font-size:14px; letter-spacing: 0px;}
.modal-app-wrap .date-wrap .sub-time{font-weight: bold; letter-spacing: -1px;}
.modal-app-wrap .date-wrap .start-time::before,
.modal-app-wrap .date-wrap .end-time::before,
.modal-app-wrap .date-wrap .sub-time::before{
  content:'';
  display:inline-block;
  height: 10px;
  width:1px;
  margin: 0px 4px 0px 6px;
  background-color:#dcdfe7;
  /* border:1px solid red; */
}
.modal-app-wrap .info-box{padding:8px 9px;background-color:#f3f3f3;}
.modal-app-wrap .info-box .title {font-size: 12px;font-weight: bold;line-height: 1.5;letter-spacing: -0.6px;color: #292944;}
.modal-app-wrap .info-box .desc {position:relative; margin-top:4px; font-size: 12px;line-height: 1.5;letter-spacing: 0px;color: #292944;}
.modal-app-wrap .info-box .desc .guide {position: absolute; top:0; right:42px; letter-spacing: 0px;}

.modal-app-wrap .btn-wrap{margin-top:10px;}
.modal-app-wrap .btn-wrap .btn-plus{padding:7px 25px; border-radius:17px; background-color:#1f3b78; color:#ffffff;font-size: 14px;letter-spacing: -0.7px;}
.modal-app-wrap .btn-wrap .btn-plus i.fas{color: #ffffff;}

.modal-app-wrap i.fas{
    display: inline-block;
    margin-right: 5px;
    color: #4d84fe;
    font-size:14px;
}
.modal-app-wrap .time{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.8px;
    color: #292944;
}

/* 반응형 */
/* Extra small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 767px) {
  .white-box-wrap{
    height: auto;
  }
  .modal-app-wrap .info-box .desc .guide {
    position: static;
    top: 0;
    right: 0;
    display:block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/* 페이지 마다 sub-header */
.sub-header {
  padding: 16px 16px 20px 16px;
}