@charset "utf-8";
/* gnb font icon definition */
@font-face {
  font-family: 'fontello';
  src: url('../font/gnb_font/fontello.eot?98760366');
  src: url('../font/gnb_font/fontello.eot?98760366#iefix') format('embedded-opentype'),
    url('../font/gnb_font/fontello.woff?98760366') format('woff'),
    url('../font/gnb_font/fontello.ttf?98760366') format('truetype'),
    url('../font/gnb_font/fontello.svg?98760366#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
    height: 100%;
}
/*layout*/
.wrapper {
  position:relative;
  display: flex;
  width: 100%;
  align-items: stretch;
}


/* ---------------------------------------------------
    GNB BAR STYLE
----------------------------------------------------- */
.navbar {
    position:relative;
    z-index: 1000;
    height: 70px;
    padding: 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.navbar  h1.logo{height:70px; padding-left:30px;}
.navbar .logo a{display:inline-block; padding:20px 0px;}
.navbar .logo a img{display:inline-block; width:auto; height:30px;}

.navbar .gnb-nav-wrap li{
  border-left: 1px solid #DFDFDF;
}
.navbar .gnb-nav-wrap li a{
  display:inline-block;
  padding:20px;
}


.navbar .gnb-nav-wrap .ico-wrap {
  position:relative;
  font-size: 22px;
  color:#3E3E4C;
}
.navbar .gnb-nav-wrap .ico-wrap .new {
  position: absolute;
  top: 7px;
  right: 1px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4d84fe;
  border: 2px solid #ffffff;

}

.navbar .gnb-nav-wrap .sp_ico {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  color:inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* .navbar .gnb-nav-wrap .sp_ico.calendar{
  background-position: 0 0;
}
.navbar .gnb-nav-wrap .sp_ico.alarm {
  background-position: -28px 0;
}
.navbar .gnb-nav-wrap .sp_ico.power {
  background-position: -56px 0;
} */


.navbar .gnb-nav-wrap .dropdown .dropdown-menu{
  left: auto;
  right: -1px;
  width: 200px;
  padding: 0px;
  margin-top: -1px;
  border-radius: 0px;
  border-color:#eee;
}
.navbar .gnb-nav-wrap .dropdown .dropdown-menu .msg-desc{
  padding: 7px 15px; 
}
.navbar .gnb-nav-wrap .dropdown .dropdown-menu .msg-desc .btn-wrap{
  padding: 5px 0px 0px;
}
.navbar .gnb-nav-wrap .dropdown .dropdown-menu .msg-list li{
  padding: 7px 15px;
  border-left: 0px;
  border-top:1px solid #f4f4f4;
  color: #777;
}


#alertSidebar {
  display:block;
  width: 320px;
  position: fixed;
  top: 0;
  right: -320px;
  height: 100%;
  padding-top: 70px;
  z-index: 999;
  background: #ffffff;
  color: #272740;
  transition: all 0.3s;
  overflow-y: auto;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
}

#alertSidebar.active {
  right: 0;
}

#alertSidebar .alert-list-wrap li{
  position: relative;
  padding: 20px 42px 22px 40px;
  border-bottom: 1px solid #e9e9e9;
}

#alertSidebar .alert-list-wrap li .ico-wrap {
  position: absolute;
  top:18px;
  left:14px;
  display: inline-block;
}

#alertSidebar .alert-list-wrap li .status{
  position: absolute;
  top:24px;
  left:20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom:0px;
  margin-left: 0px;
  opacity: 0.5;
}
/* 탄력근무 */
#alertSidebar .alert-list-wrap li .status.ELAS {
  background-color: #ff6f00;
  /* background-color: rgba(255, 111, 0,0.5); */

}

/* 완전선택근무 */
#alertSidebar .alert-list-wrap li .status.SELE_F {
  background-color: #0321b8;
  /* background-color: rgba(3, 33, 184,0.5); */
}

/* 부분선택근무 */
#alertSidebar .alert-list-wrap li .status.SELE_C {
  background-color: #0862bb;
  /* background-color: rgba(8, 98, 187,0.5); */
}

/* 시차출퇴근 */
#alertSidebar .alert-list-wrap li .status.DIFF {
  background-color: #035d18;
  /* background-color: rgba(3, 93, 24,0.5); */
}

/* 자율출퇴근 */
#alertSidebar .alert-list-wrap li .status.AUTO {
  background-color: #080809;
  /* background-color: rgba(8, 8, 9,0.5); */
}

#alertSidebar .alert-list-wrap li .btn-wrap {
  margin-top: 8px;
}

#alertSidebar .alert-list-wrap li .desc {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.7px;
  color: #272740;
}
#alertSidebar .alert-list-wrap li .date {
  margin-top:2px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.6px;
  color: #6b6b80;
}

#alertSidebar .alert-list-wrap li .btn-close{
  position: absolute;
  top:6px;
  right:12px;
  display:inline-block;
  width: 24px;
  height: 24px;
  padding:0px;
  border:0px;
  background-color:transparent;
  color:#3e3e4c;
}


.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}
/* ---------------------------------------------------
    SIDEBAR STYLE (LEFT)
----------------------------------------------------- */

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #4d84fe;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active {
  position: relative;
  z-index: 100;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header .logo {
  display: block;
  line-height: 1;
}

#sidebar.active .sidebar-header .logo img {
  display: inline-block;
  width: auto;
  height: 40px;
}


#sidebar.active ul li a {
  padding: 32px 0px 25px;
  text-align: center;
  text-decoration: none;
}

#sidebar.active ul li a i {
  display: block;
  font-size: 1.8em;
  margin-right:0px;
  /* font-weight: 500; */
}

#sidebar.active ul li a span.title {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.68;
  letter-spacing: -0.6px;
  color: #ffffff;
}
#sidebar.active ul li.active a span.title{
  color: #4d84fe;
}

#sidebar.active ul li a:hover span.title {
  color: #4d84fe;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}


#sidebar ul.components {
  padding: 0px;
}

#sidebar ul li a {
  padding: 10px 10px 10px 20px;
  font-size: 1.1em;
  display: block;
  color:#ffffff;
}

#sidebar ul li a:hover {
  color: #4d84fe;
  background: #fff;
}

#sidebar ul li a.dropdown-toggle{
  color: #ffffff;
}
#sidebar ul li a.dropdown-toggle.collapsed {
  color:#4d84fe;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #4d84fe;
  background: #ffffff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #0E79B4;
}

#sidebar ul.CTAs {
  padding: 20px;
}

#sidebar ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #0E79B4;
}

a.article,
a.article:hover {
  background: #0E79B4 !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: calc(100vh - 70px);
  transition: all 0.3s;
  background: #e2e5ed;
}

#content .dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.6);
}

#content .dim .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -40px;
  color: #0178C2;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar .sidebar-header strong img{
    display: none;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar ul li a i {
    font-size: 1.3em;
  }

  /* #sidebar {
    margin-left: 0;
  } */

  #sidebarCollapse span {
    display: none;
  }
}

/* sub-nav */
#sub-nav{
  position:relative;
  width:100%;
  padding: 16px 20px 14px 24px;
  margin-bottom: 22px;
  background-color:#ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#sub-nav .btn-collapse-wrap {
  position: absolute;
  left: 0;
  bottom:-22px;
  width: 100%;
  text-align: center;
}
#sub-nav .btn-collapse-wrap .btn-collapse {
  width:61px;
  height: 17px;
  border: 0px;
  padding: 0px;
  background-image:url('../img/cal_btn.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 69px auto;
}
#sub-nav .work-time-wrap{
  padding-bottom:16px;
  border-bottom:1px solid #d2d2d2;
  margin-bottom:10px;
}
#sub-nav .work-time-wrap .title{
  min-height:18px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #6b6b80;
}
#sub-nav .work-time-wrap .desc{
  min-height: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #292944;
}

#sub-nav .sub-info-wrap .title {
  font-size: 12px;
  line-height: 1.5;
  color: #6b6b80;
  vertical-align: middle;
}
#sub-nav .sub-info-wrap .title::after {
  content:'';
  display:inline-block;
  height: 16px;
  padding-left:12px;
  border-right: 1px solid #6B6B80;
  margin-bottom: -4px;
}

#sub-nav .work-check-wrap {
  float:left;
  margin-top:1px;
  vertical-align: middle;
}

#sub-nav .work-check-wrap .custom-control {
  padding-left: 2.5rem;
  vertical-align: middle;
}
#sub-nav .work-check-wrap .custom-checkbox .custom-control-label{
  margin-top: 1px;
  padding-top: 2px;
  font-size: 12px;
  line-height: 1.5;
  color: #292944;
}
#sub-nav .work-check-wrap .custom-checkbox .custom-control-label span{
  vertical-align: middle;
}
#sub-nav .work-check-wrap .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
#sub-nav .work-check-wrap .custom-checkbox .custom-control-label::after {
  border-radius: 0;
}

#sub-nav .work-check-wrap .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  border-color:#32c9b6;
  background-color:#32c9b6;
}

#sub-nav .legend-wrap{
  float:left;
  position: relative;
  padding-left:10px;
  margin-left: 12px;
  margin-top:-2px;
  display:inline-block;
  vertical-align: middle;
}
#sub-nav .legend-wrap::before{
  content: '';
  position: absolute;
  left:0px;
  top: -8px;
  display: inline-block;
  width:1px;
  height: 48px;
  background-color: #e9e9e9;
}


#sub-nav .legend-list-wrap{
  display:inline-block;
  vertical-align: middle;
}
#sub-nav .legend-list-wrap::after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
#sub-nav .legend-list-wrap li {
  float: left;
  display: inline-block;
  margin-left: 22px;
  font-size: 12px;
  line-height: 1.5;
  color: #292944;
}

#sub-nav .legend-list-wrap li:first-child {
  margin-left: 10px;
}

#sub-nav .legend-list-wrap li::before {
  content: '';
  display: inline-block;
  /*
  width: 8px;
  height: 8px;
  border-radius: 50%;
  */
  width: 10px;
  height: 2px;
  margin-top: -2px;
  margin-right: 4px;
  margin-bottom:0px;
  margin-left: 0px;
  opacity: 0.5;
  vertical-align: middle;
}


/* 탄력근무 */
#sub-nav .legend-list-wrap li.ELAS::before {
  background-color: #ff6f00;
  /* background-color: rgba(255, 111, 0,0.5); */
}
/* 완전선택근무 */
#sub-nav .legend-list-wrap li.SELE_F::before {
  background-color: #0321b8;
  /* background-color: rgba(3, 33, 184,0.5); */
}
/* 부분선택근무 */
#sub-nav .legend-list-wrap li.SELE_C::before {
  background-color: #0862bb;
  /* background-color: rgba(8, 98, 187,0.5); */
}
/* 시차출퇴근 */
#sub-nav .legend-list-wrap li.DIFF::before {
  background-color: #035d18;
  /* background-color: rgba(3, 93, 24,0.5); */
}
/* 자율출퇴근 */
#sub-nav .legend-list-wrap li.AUTO::before {
  background-color: #080809;
  /* background-color: rgba(8, 8, 9,0.5); */
}


#sub-nav #summary-wrap{margin:-9px 0px; font-size: 12px; line-height:1.5;}
#sub-nav .summary-list::after{content:''; display: table; width:100%; clear: both;}
#sub-nav .summary-list li{float:left; margin-left:30px;}
#sub-nav .summary-list li:first-child{margin-left:0px;}

#sub-nav .summary-list .label-title{margin-right:6px; color: #6b6b80;}
#sub-nav .summary-list .desc{font-weight: bold;color: #292944;}




/* 반응형 */
/* Extra small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 767px){
  #sub-nav .legend-wrap::before {
    display: none;
  }
  #sub-nav .legend-wrap{
    padding-left: 0px;
    margin-left: 0px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) and (max-width: 959px){
  #sub-nav .legend-wrap::before {
    display: none;
  }
  #sub-nav .legend-wrap{
    padding-left: 0px;
    margin-left: 0px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width:960px) and (max-width: 1085px){
  #sub-nav .legend-wrap::before {
    display: none;
  }
  #sub-nav .legend-wrap{
    padding-left: 0px;
    margin-left: 0px;
  }
}

