@charset "utf-8";

html {
    height: 100%;
}

/*layout*/
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* ---------------------------------------------------
    GNB BAR STYLE
----------------------------------------------------- */
.navbar {
    height: 70px;
    padding: 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.navbar  h1.logo{height:70px; padding-left:30px;}
.navbar .logo a{display:inline-block; padding:20px 0px;}
.navbar .logo a img{display:inline-block; width:auto; height:30px;}


/* ---------------------------------------------------
    SIDEBAR STYLE (LEFT)
----------------------------------------------------- */

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #4d84fe;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header .logo {
  display: block;
  line-height: 1;
}

#sidebar.active .sidebar-header .logo img {
  display: inline-block;
  width: auto;
  height: 40px;
}


#sidebar.active ul li a {
  padding: 25px 0px;
  text-align: center;
  text-decoration: none;
}

#sidebar.active ul li a i {
  display: block;
  font-size: 1.8em;
  margin-right:0px;
  font-weight: 500;
}

#sidebar.active ul li a span.title {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.68;
  letter-spacing: -0.6px;
  color: #ffffff;
}
#sidebar.active ul li.active a span.title{
  color: #4d84fe;
}

#sidebar.active ul li a:hover span.title {
  color: #4d84fe;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}


#sidebar ul.components {
  padding: 0px;
}

#sidebar ul li a {
  padding: 10px 10px 10px 20px;
  font-size: 1.1em;
  display: block;
  color:#ffffff;
}

#sidebar ul li a:hover {
  color: #4d84fe;
  background: #fff;
}

#sidebar ul li a.dropdown-toggle{
  color: #ffffff;
}
#sidebar ul li a.dropdown-toggle.collapsed {
  color:#4d84fe;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #4d84fe;
  background: #ffffff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #0E79B4;
}

#sidebar ul.CTAs {
  padding: 20px;
}

#sidebar ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #0E79B4;
}

a.article,
a.article:hover {
  background: #0E79B4 !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: calc(100vh - 70px);
  transition: all 0.3s;
  background: #e2e5ed;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar .sidebar-header strong img{
    display: none;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar ul li a i {
    font-size: 1.3em;
  }

  /* #sidebar {
    margin-left: 0;
  } */

  #sidebarCollapse span {
    display: none;
  }
}

/* sub-nav */
#sub-nav{
  width:100%;
  padding: 16px 20px 14px 24px;
  margin-bottom: 14px;
  background-color:#ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#sub-nav .work-time-wrap{
  padding-bottom:17px;
  border-bottom:1px solid #d2d2d2;
  margin-bottom:10px;
}
#sub-nav .work-time-wrap .title{
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #6b6b80;
}
#sub-nav .work-time-wrap .desc{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #292944;
}

#sub-nav .work-check-wrap .title::after {
  content:'';
  display:inline-block;
  height: 16px;
  padding-left:12px;
  border-right: 1px solid #6B6B80;
  margin-bottom: -2px;
}
#sub-nav .work-check-wrap .custom-control {
  padding-left: 2.5rem;
}
#sub-nav .work-check-wrap .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
#sub-nav .work-check-wrap .custom-checkbox .custom-control-label::after {
  border-radius: 0;
}

#sub-nav .work-check-wrap .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  border-color:#32c9b6;
  background-color:#32c9b6;
}
