@charset "utf-8";

.point-color{color:#DC3545;}
.necessary{position:relative; color:#DC3545;}
.necessary::after{content:'*'; position:absolute; top:0px; left:-10px;display:inline-block;}
.application-form .inner-wrap{padding: 40px 0px;}
.application-form .title{margin-bottom:30px; font-size: 20px;} 
.application-form .btn-wrap{padding-top: 40px;}