@charset "utf-8";

/* color code */
/* layout.css */
/* gnb mark */
.navbar .gnb-nav-wrap .ico-wrap .new {
    background-color: #4d84fe;
}
/* sidebar */
#sidebar {
  background: #4d84fe;
}

#sidebar.active ul li.active a span.title,
#sidebar.active ul li.active button span.title {
    color: #4d84fe;
}

#sidebar.active ul li a:hover span.title,
#sidebar.active ul li button:hover span.title {
    color: #4d84fe;
}

#sidebar ul li button {
    background-color: #4d84fe;
}

#sidebar ul li a:hover,
#sidebar ul li button:hover {
    color: #4d84fe;
}

#sidebar ul li a.dropdown-toggle.collapsed,
#sidebar ul li button.dropdown-toggle.collapsed {
    color: #4d84fe;
}

#sidebar ul li.active>a,
a[aria-expanded="true"],
#sidebar ul li.active>button,
button[aria-expanded="true"] {
    color: #4d84fe;
}

#sidebar #lnb-sub li.active>a,
#sidebar #lnb-sub li.active>button {
    color: #4d84fe;
}

/* common.css */
/* button */
.btn-write {
    background-color: #4d84fe;
    border-color: #325fc0;
}
.btn-write:hover {
    color: #ffffff;
    background-color: #5780da;
    border-color: #325fc0;
}
.btn-default {
    color: #ffffff;
    background-color: #4d84fe;
    border-color: #325fc0;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #5780da;
    border-color: #325fc0;
}
/* 결재페이지 */
[type=button].btn-approval.sign {
    color: #4d84fe;
}
.btn-approval.sign:hover {
    color:#ffffff;
    background-color: #4d84fe;
}
/* 근무계획 */
.white-box-wrap .btn-info-wrap a {
    color: #4d84fe;
}
.white-box-wrap .btn-info-wrap span {
    color: #4d84fe;
}
.work-plan-wrap .sub-list .sub-title i.fas {
    color: #4d84fe;
}
/* calendar */
.calendar-wrap {
    border-top: 3px solid #4d84fe;
}
/* modal */
.modal-app-wrap .guide {
    color: #4d84fe;
}
.select-list-wrap .targetor .time {
    color: #4d84fe;
}
.time-wrap i.fas {
    color: #4d84fe;
}
.time-wrap .time.point {
    color: #4d84fe;
}
/* error page */
.error-page .container .icon-wrap i {
    color: #4d84fe;
}
.error-page .container a.btn-main {
    background-color: #4d84fe;
}
/* setting */
.setting .card.choice{border:2px solid #4d84fe;}
/* spinner */
.loading-spinner::before {
    border-bottom-color: #4d84fe;
}
/* Layout4HR css custom */
a.button{
	background-color:#4d84fe;
}

input.required{
	border:1px solid #4d84fe !important;
}

.sheet_search{
	border-top: 2px solid #4d84fe;
}
.sheet_search .magnifier {
    background-color: #4d84fe;
    opacity: 0.7;
}
.sheet_search a.button{
	background-color: #4d84fe;
}

.sheet_title_wrap .title:after{
	background-color: #4d84fe;
}
/* Layout4HR css custom sheet background */
.GMFocusRowBackground, .GMCursorBackground{
	background: #4d84fe !important;
}
/*
table.default th{
	background-color:#f5fafd;
	color: #84939d;
	border-left: 1px solid #e7edf0;
    border-right: 1px solid #e7edf0;
    border-bottom: 1px solid #e7edf0;
}
*/
/* tooltip */
.tooltip-st i.far{
	color: #4d84fe;
}

.ui-tabs:not(.sub_top) .ui-tabs-nav li a {
    border-bottom: 1px solid #4d84fe;
    border-left: 1px solid #e0e2e5;
    border-right: 1px solid #e0e2e5;
    border-top: 1px solid #e0e2e5;
    background-color: #F4F4F4;
    color: #666666;
}
/*
.ui-tabs:not(.sub_top) .ui-tabs-nav li:first-child a{
	border-right: 0px solid #e0e2e5;
}
.ui-tabs:not(.sub_top) .ui-tabs-nav li a{
	border-left: 0px solid #e0e2e5;
}
.ui-tabs:not(.sub_top) .ui-tabs-nav li:first-child a{
	border-left: 1px solid #e0e2e5;
}
*/
.ui-tabs:not(.sub_top) .ui-tabs-nav li.ui-state-active a {
    background-color: #FFF;
    margin: 0 1px 0 0;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #4d84fe;
    border-right: 1px solid #4d84fe;
    border-top: 1px solid #4d84fe;
    color: #4d84fe !important;
    font-weight: 600;
    font-weight: bold;
}
/* custom check */
table.default td [type="checkbox"]:checked + label:after,
table.default td [type="checkbox"]:not(:checked) + label:after {
    border-color: #4d84fe;
}
/* custom radio */
table.default td [type="radio"]:checked + label:after,
table.default td [type="radio"]:not(:checked) + label:after {
    background: #4d84fe;
}