@charset "utf-8";

/* color code */
/* layout.css */
/* gnb mark */
.navbar .gnb-nav-wrap .ico-wrap .new {
    background-color: #980724;
}
/* sidebar */
#sidebar {
  background: #980724;
}

#sidebar.active ul li.active a span.title {
    color: #980724;
}

#sidebar.active ul li a:hover span.title {
    color: #980724;
}

#sidebar ul li a:hover {
    color: #980724;
}

#sidebar ul li a.dropdown-toggle.collapsed {
    color: #980724;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #980724;
}

#sidebar #lnb-sub li.active>a {
    color: #980724;
}

/* common.css */
/* button */
.btn-write {
    background-color: #980724;
    border-color: #82011a;
}
.btn-write:hover {
    color: #ffffff;
    background-color: #bb1133; 
    border-color: #82011a;
}
.btn-default {
    color: #ffffff;
    background-color: #980724;
    border-color: #82011a;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #bb1133;
    border-color: #82011a;
}

/* 근무계획 */
.white-box-wrap .btn-info-wrap a {
    color: #980724;
}
.white-box-wrap .btn-info-wrap span {
    color: #980724;
}
.work-plan-wrap .sub-list .sub-title i.fas {
    color: #980724;
}
/* calendar */
.calendar-wrap {
    border-top: 3px solid #980724;
}
/* modal */
.modal-app-wrap .guide {
    color: #980724;
}
.modal-app-wrap i.fas {
    color: #980724;
}
/* error page */
.error-page .container .icon-wrap i {
    color: #980724;
}
.error-page .container a.btn-main {
    background-color: #980724;
}
/* setting */
.setting .card.choice{border:2px solid #980724;}
/* spinner */
.loading-spinner::before {
    border-bottom-color: #980724;
}

/* Layout4HR css custom */
a.button{
	background-color:#980724;
}

input.required{
	border:1px solid #980724 !important;
}

.sheet_search{
	border-top: 2px solid #980724;
}
.sheet_search a.button{
	background-color: #980724;
}

.sheet_title_wrap .title:after{
	color: #980724;
}
/* Layout4HR css custom sheet background */
.GMFocusRowBackground, .GMCursorBackground{
	background: #980724 !important;
}
table.default th{
	background-color:#f5fafd;
	color: #84939d;
	border-left: 1px solid #e7edf0;
    border-right: 1px solid #e7edf0;
    border-bottom: 1px solid #e7edf0;
}
table.default th:first-child {
    border-left: none;
}
/* tooltip */
.tooltip-st i.far{
	color: #980724;
}

.ui-tabs:not(.sub_top) .ui-tabs-nav li a {
    display: inline-block;
    margin-left: -1px;
    border-bottom: 1px solid #980724;
    border-left: 1px solid #e0e2e5;
    border-right: 1px solid #e0e2e5;
    border-top: 1px solid #e0e2e5;
    background-color: #f5fafd;
    color: #6d90a5;
    font-size: 12px;
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    font-weight: 500;
    font-weight: bold;
}
.ui-tabs:not(.sub_top) .ui-tabs-nav li:first-child a{
	border-right: 0px solid #e0e2e5;
}
.ui-tabs:not(.sub_top) .ui-tabs-nav li a{
	border-left: 0px solid #e0e2e5;
}
.ui-tabs:not(.sub_top) .ui-tabs-nav li:first-child a{
	border-left: 1px solid #e0e2e5;
}
.ui-tabs:not(.sub_top) .ui-tabs-nav li.ui-state-active a {
    background-color: #FFF;
    margin: 0 1px 0 0;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #980724;
    border-right: 1px solid #980724;
    border-top: 1px solid #980724;
    color: #980724 !important;
    font-weight: 600;
    font-weight: bold;
}
/* custom check */
table.default td [type="checkbox"]:checked + label:after,
table.default td [type="checkbox"]:not(:checked) + label:after {
    border-color: #980724;
}
/* custom radio */
table.default td [type="radio"]:checked + label:after,
table.default td [type="radio"]:not(:checked) + label:after {
    background: #980724;
}