spring:
  datasource:
    #url: dbc:log4jdbc:mysql://db-2o9bg.cdb.ntruss.com:3306/worktimemanagement?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
    #username: worktime
    #password: dnjzmxkdla!2
    #driver-class-name: com.mysql.cj.jdbc.Driver 
    hikari:
      jdbc-url: jdbc:sqlserver://10.249.92.148:11443;databaseName=NEOE
      username: NEOE
      password: NEOE
      driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://10.249.92.148:11443;databaseName=NEOE
    username: NEOE
    password: NEOE
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
      
    tomcat:
      max-active: 50
      max-wait: 20000
      max-idle: 20
      min-idle: 15
      test-on-borrow: false
      test-while-idle: true
      time-between-eviction-runs-millis: 3600000 
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
      
  mvc: 
    view:
      prefix: /WEB-INF/views/
      suffix: .ftl
         
  freemarker:
    template-loader-path: /WEB-INF/views/
    suffix: .ftl
    request-context-attribute: rc 
        
mybatis:
  config-location: classpath:query/iuerp/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

ifw:
  client-id: hdngv
  secret: chWQsUbouLFXYYmy5F7k9UFYGprNH1F6uzqsOvt0K9s=
  token-url: https://cloudhr.pearbranch.com/ifa/oauth/token
  login-post: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/certificate 
  valid-get: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/validate     
  status-get: https://cloudhr.pearbranch.com/ifw/api/{{tsId}}/worktime/status
  in-post: https://cloudhr.pearbranch.com/ifw/api/{{tsId}}/worktime/in
  out-post: https://cloudhr.pearbranch.com/ifw/api/{{tsId}}/worktime/out
  cancel-post: https://cloudhr.pearbranch.com/ifw/api/{{tsId}}/worktime/cancel
  except-post: https://cloudhr.pearbranch.com/ifw/api/{{tsId}}/worktime/except
  m-status-get: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/worktime/status
  dashboard-get: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/dashboard
  edoc-url: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/edocument/{{function}}
  team-url: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/team/{{function}}   
  apply-url: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/apply/{{function}} 
  inout-url: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/inout/{{function}}
  my-url: https://cloudhr.pearbranch.com/ifw/mobile/{{tsId}}/my/{{function}}
  #code-post: https://cloudhr.pearbranch.com/ifw/api/honda/d/code
  code-post: http://10.30.30.215/ifw/api/honda/d/code
  #emp-post: https://cloudhr.pearbranch.com/ifw/api/honda/d/emp 
  emp-post: http://10.30.30.215/ifw/api/honda/d/emp
  #empaddr-post: https://cloudhr.pearbranch.com/ifw/api/honda/d/empaddr
  empaddr-post: http://10.30.30.215/ifw/api/honda/d/empaddr
  #gnt-post: https://cloudhr.pearbranch.com/ifw/api/honda/d/gnt
  gnt-post: http://10.30.30.215/ifw/api/honda/d/gnt
  holiday-post: https://cloudhr.pearbranch.com/ifw/api/honda/d/holiday
  #org-post: https://cloudhr.pearbranch.com/ifw/api/honda/d/org
  org-post: http://10.30.30.215/ifw/api/honda/d/org
  orgconc-post: https://cloudhr.pearbranch.com/ifw/api/honda/d/orgconc
  #taaappl-post: https://cloudhr.pearbranch.com/ifw/api/honda/d/taaappl
  taaappl-post: http://10.30.30.215/ifw/api/honda/d/taaappl
 
dzGateway:
  gateway-url: http://10.249.92.147:85/ErpuMobileGate/_gateway/
  gateway-customkey: HONDAHRM
  gateway-product: ISU
  gateway-product-version: 1.0.0
  gateway-language: KR
  gateway-dev-url: http://10.249.92.147:85/ErpuMobileGate/_gateway/
  gateway-dev-customkey: HONDAHRM

adapter:
  encrypt-columnKey: empKey,notiKey,payKey,apprEmpKey,applKey,targetEmpKey,changeEmp,dayoffEmp,replaceEmp,lineItemKey
  
logging:
  config: classpath:logback-spring.xml
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ] %cyan(%logger{20}) : %msg "%n'
    file: '%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative --- [ %thread{10} ] %logger{35} - %msg"%n'
  path: C:\Log
  file: ifwi.log
       