<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	
	
    <springProperty name="spring.datasource.driverClassName" source="spring.datasource.hikari.driverClassName"/>
	<springProperty name="spring.datasource.jdbcUrl" source="spring.datasource.hikari.jdbcUrl"/>
	<springProperty name="spring.datasource.username" source="spring.datasource.hikari.username"/>
	<springProperty name="spring.datasource.password" source="spring.datasource.hikari.password"/>
	<springProperty name="CONSOLE_LOG_PATTERN" source="logging.pattern.console"/>
	<springProperty name="FILE_LOG_PATTERN" source="logging.pattern.file"/>
	<springProperty name="LOG_PATH" source="logging.path"/>
	<springProperty name="LOG_FILE" source="logging.file"/>
	
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${LOG_FILE}</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
	    <encoder>
	        <pattern>${FILE_LOG_PATTERN}</pattern>
	    </encoder> 
    </appender>

	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>${spring.datasource.driverClassName}</driverClass>
			<url>${spring.datasource.jdbcUrl}</url>
			<user>${spring.datasource.username}</user>
			<password>${spring.datasource.password}</password>
		</connectionSource>
	</appender>
	
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold> <!-- default 20, means drop lower event when has 20% capacity remaining -->
        <appender-ref ref="DB" />
        <queueSize>512</queueSize> <!-- default 256 -->
        <includeCallerData>false</includeCallerData><!-- default false -->
        <maxFlushTime>60000</maxFlushTime>
        <neverBlock>false</neverBlock><!-- default false, set to true to cause the 
            Appender not block the application and just drop the messages -->
    </appender>
<!-- 
	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>${spring.datasource.driverClassName}</driverClass>
			<url>${spring.datasource.jdbcUrl}</url>
			<user>${spring.datasource.username}</user>
			<password>${spring.datasource.password}</password>
		</connectionSource>
	</appender> -->
	<logger name="ifwDBLog" level="DEBUG">
		<appender-ref ref="ASYNC" />
	</logger>

	<logger name="ifwFileLog" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>
	
	<root level="DEBUG">
        <appender-ref ref="CONSOLE"/> 
    </root>

</configuration>